<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js" integrity="sha256-1XfFQxRfNvDJW3FdZ+xlo2SbodG2+rFArw6XsVzu3bc=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand"><%= ENV["ONDEMAND_TITLE"] %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="<%= url("/") %>" class="nav-link">
            <i class="fas fa-home"></i> <%= title %>
          </a>
        </li>
        <li class="nav-item active">
          <a href="<%= url("/jobs") %>" class="nav-link">
            <i class="fas fa-cog"></i> Jobs
          </a>
        </li>
        <li class="nav-item active">
          <a href="<%= url("/new") %>" class="nav-link">
            <i class="fas fa-plus"></i> New Job
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container" role="main">

  <% @flashnow.each do |type, msg| %>
    <div class="alert alert-<%= type %>" role="alert">
      <%= msg %>
    </div>
  <% end %>

  <%== yield %>
</div>

</body>
</html>
