<h1 class='d-flex my-2 justify-content-center'><%= @project_name %></h1>

<p class='my-1'> Frame Render Job <%= @frame_render_job_id %> is <span class="badge badge-pill badge-<%= @frame_render_badge %>"><%= @frame_render_job_state %></span></p>
<p class='my-1'> Video Render Job <%= @video_render_job_id %> is <span class="badge badge-pill badge-<%= @video_render_badge %>"><%= @video_render_job_state %></span></p>

<script src=<%= url("/projects.js") %> type="application/javascript" ></script>

<h2 class='my-2'>Images</h2>
<p class='my-1'>There are <span id="list_size"><%= @images.length %></span> images for this project.<p>

<div class="row pt-3">
  <div id="blend_image_carousel" class="carousel slide" data-ride="carousel">
    <ol id="blend_image_carousel_indicators" class="carousel-indicators">
      <% (1..@images.length).each do |idx| %>
      <li data-target="#blend_image_carousel" data-slide-to="<%= idx-1 %>" class="<%= idx == 1 ? 'active' : nil %>" ></li>
      <% end %>
    </ol>
    <div id="blend_image_carousel_inner" class="carousel-inner">
      <% @images.each_with_index do |image, idx| %>
      <div id="image_<%= File.basename(image).gsub('.', '_') %>" class="carousel-item  <%= idx == 0 ? 'active' : nil %>">
        <img class="d-block w-100" src="/pun/sys/files/api/v1/fs<%= image %>" >
      </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#blend_image_carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#blend_image_carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<h2>Render Frames</h2>

<form action="<%= url("/render/frames") %>" method="post" enctype="multipart/form-data">

  <div class="col-md-12">
    <div class="row">

      <div class="form-group col-md-6">
        <label for="blend_file">Upload New Blend File</label>
        <div class="input-group">
          <div class="custom-file">
              <input type="file" class="custom-file-input" name="blend_file" id="blend_file" accept=".blend">
              <label class="custom-file-label" for="blend_file" id="blend_file_name">Choose file</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="uploaded_blend_file">Uploaded Blend File</label>
        <select  name="uploaded_blend_file" class="form-control" id="uploaded_blend_file">
        <%- @uploaded_blend_files.each do |file| -%>
          <option value="<%= file %>"><%= file %></option>
        <%- end -%>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="project_name">Project</label>
        <select  name="project_name" class="form-control" id="project_name" required>
          <%- groups.each do |group| -%>
          <option value="<%= group %>"><%= group %></option>
          <%- end -%>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" value="1" min="1" max="48" required>
        <small class="form-text text-muted">More CPUs means less time rendering.</small>
      </div>

      <div class="form-group col-md-3">
        <label for="frame_range">Range of Frames Rendered</label>
        <input type="text" name="frames_range" class="form-control" id="frames_range" pattern="(\d+\.\.\d+)|(\d+(?:,\d+)*)" required>
        <small class="form-text text-muted">Ex: "1..10" renders frames 1-10, "1,3,5" renders frames 1, 3 and 5...</small>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">Walltime</label>
        <input type="number" name="num_hours" class="form-control" id="num_hours" value="1" min="0" max="120" required>
        <small class="form-text text-muted">Hours</small>
      </div>

      <div class="d-none">
        <input type="text" name="dir" id="dir" value="<%= @dir %>" required>
      </div>
    </div>

    <div class="row justify-content-md-end my-1">
      <button type="submit" class="btn btn-primary float-right">Render Frames</button>
    </div>

  </div>
</form>

<h2 class='my-3'>Render a Video from frames</h2>

<form action="<%= url("/render/video") %>" method="post">
  <div class="col-md-12">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="project_name">Project</label>
        <select  name="project_name" class="form-control" id="project_name" required>
          <%- groups.each do |group| -%>
          <option value="<%= group %>"><%= group %></option>
          <%- end -%>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="frames_per_second">Frames per Second</label>
        <input
          type="text" name="frames_per_second" class="form-control" id="frames_per_second" pattern="(\d+\.\.\d+)|(\d+(?:,\d+)*)"
          min="5" max="60" value="20" step="5" required>
        <small class="form-text text-muted">Add frames per second to get higher quality videos.</small>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" min="1" max="48" value="1" required>
        <small class="form-text text-muted">More CPUs means less time rendering.</small>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">Walltime</label>
        <input type="number" name="num_hours" class="form-control" id="num_hours" value="1" min="1" max="120" required>
        <small class="form-text text-muted">Hours</small>
      </div>

      <div class="d-none">
        <input type="text" name="dir" id="dir" value="<%= @dir %>" required>
      </div>
    </div>

    <div class="row justify-content-md-end my-1">
      <button type="submit" class="btn btn-primary float-right">Render Video</button>
    </div>
  </div>
</form>

<div class='my-5' id="job_config" data-directory="<%= @dir %>">
</div>
