<h1 class='d-flex my-2 justify-content-center'><%= @project_name %></h1>

<h2>Render Frames</h2>

<script src=<%= url("/projects.js") %> type="application/javascript" ></script>

<form action="<%= url("/render/frames") %>" method="post" enctype="multipart/form-data">

  <div class="col-md-12">
    <div class="row">

      <div class="form-group col-md-6">
        <label for="blend_file">Upload New Blend File</label>
        <div class="input-group">
          <div class="custom-file">
              <input type="file" class="custom-file-input" name="blend_file" id="blend_file" accept=".blend">
              <label class="custom-file-label" for="blend_file" id="blend_file_name">Choose file</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="uploaded_blend_file">Uploaded Blend File</label>
        <select  name="uploaded_blend_file" class="form-control" id="uploaded_blend_file">
        <%- @uploaded_blend_files.each do |file| -%>
          <option value="<%= file %>"><%= file %></option>
        <%- end -%>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="project_name">Project</label>
        <select  name="project_name" class="form-control" id="project_name" required>
          <%- groups.each do |group| -%>
          <option value="<%= group %>"><%= group %></option>
          <%- end -%>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" value="1" min="1" max="48" required>
        <small class="form-text text-muted">More CPUs means less time rendering.</small>
      </div>

      <div class="form-group col-md-3">
        <label for="frame_range">Range of Frames Rendered</label>
        <input type="text" name="frames_range" class="form-control" id="frames_range" pattern="(\d+\.\.\d+)|(\d+(?:,\d+)*)" required>
        <small class="form-text text-muted">Ex: "1..10" renders frames 1-10, "1,3,5" renders frames 1, 3 and 5...</small>
      </div>

      <div class="form-group col-md-3">
        <label for="num_cpus">Walltime</label>
        <input type="number" name="num_hours" class="form-control" id="num_hours" value="1" min="0" max="120" required>
        <small class="form-text text-muted">Hours</small>
      </div>

      <div class="d-none">
        <input type="text" name="dir" id="dir" value="<%= @dir %>" required>
      </div>
    </div>

    <div class="row justify-content-md-end my-1">
      <button type="submit" class="btn btn-primary float-right">Render Frames</button>
    </div>

  </div>
</form>